body {
    margin: 200PX;
    background-color: white;
}
h1{
   text-align: center;  
 
}.User {
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.Pass {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
     display:block;
    text-align: center;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:block;
    margin-bottom: 20px;
}
div{
    border: 2px solid black;
    margin-top:20px;
    margin-left: 370px;
    margin-right: 370px;
   
    
}
hr{
    margin-top: 20px;
    margin-left: 370px;
    margin-right: 370px;
}